<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        Right Text
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2020 <a asp-controller="Car" asp-action="Index">The Car Hub</a>.</strong> All rights reserved.
</footer>