@model P3AddNewFunctionalityDotNetCore.Models.ViewModels.LoginModel

@{
    ViewBag.Title = "Log In";
    Layout = "_AdminLayout";
}

<div class="text-danger" asp-validation-summary="All"></div>
<form asp-action="Login" asp-controller="Account" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <div><span class="text-danger"></span></div> <!-- asp-validation-for="Name" Design pref should be reset on release -->
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <div><span class="text-danger"></span></div> <!-- asp-validation-for="Password" Design pref should be reset on release -->
        <input asp-for="Password" class="form-control" type="password" />
    </div>
    <button class="btn btn-primary" type="submit">Log In</button>
</form>

